<% layout("/layouts/boilerplate") %>
<body>
  <div class="row offset-2">
    <div class="col-8">
      <br /><br />
      <h3>Create a New Listing</h3>
      <form
        method="POST"
        action="/listings"
        novalidate
        class="needs-validation"
      >
        <!-- title -->
        <div class="mb-3">
          <label for="title" class="form-label">Title</label>
          <input
            name="listing[title]"
            placeholder="Enter title"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Title looks good!</div>
          <div class="invalid-feedback">Please add Title!</div>
        </div>
        <!-- discription  -->
        <div class="mb-3">
          <label for="discription" class="form-label">Discription</label>

          <textarea
            name="listing[description]"
            placeholder="Enter description"
            class="form-control"
            required
          ></textarea>
          <div class="valid-feedback">Description looks nice !</div>
          <div class="invalid-feedback">Add a short discription!</div>
        </div>
        <!-- image  -->
        <div class="mb-3">
          <label for="image" class="form-label">Image</label>
          <input
            name="listing[image]"
            placeholder="enter image URL/Link"
            type="text"
            class="form-control"
          />
        </div>
        <div class="row">
          <!-- prise  -->
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="listing[price]"
              placeholder="Enter price"
              class="form-control"
              required
            />
            <div class="valid-feedback">Price looks nice !</div>
            <div class="invalid-feedback">Price should be valid !</div>
          </div>

          <!-- country  -->
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Location</label>
            <input
              name="listing[country]"
              placeholder="Enter country"
              type="text"
              class="form-control"
              required
            />
            <div class="valid-feedback">Country added</div>
            <div class="invalid-feedback">Add your country name!</div>
          </div>
        </div>

        <!-- location  -->
        <div class="mb-3">
          <label for="discription" class="form-label">Country</label>
          <input
            name="listing[location]"
            placeholder="Enter location"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Location needed !</div>
          <div class="invalid-feedback">Add your location!</div>
        </div>
        <button class="btn btn-dark add-btn">Add</button>
        <br /><br />
      </form>
    </div>
  </div>
  <script src="/js/script.js"></script>
</body>
